.App {
  height: 100%;
}

.tile {
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background: #FFCA28;
  box-sizing: border-box;
  border-radius: 16px;
  font-size: 64px;
  color: #FF4C4B;
  font-weight: bolder;
  margin: 16px;
}

.turn {
  width: 392px;
  height: 96px;
  text-align: center;
  line-height: 96px;
  background: #FFCA28;
  box-sizing: border-box;
  border-radius: 16px;
  font-size: 56px;
  color: #FF4C4B;
  font-weight: bolder;
}

table {
  border-collapse: inherit !important;
  border-spacing: 16px;
}

.replay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.623);
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.replay button {
  background-color: rgba(0, 0, 0, 0.315);
  color: white;
  padding: 16px;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
}

.footer {
  background-color: #FFCA28;
  text-align: center;
  width: 392px;
  color: #FF4C4B;
  font-size: 20px;
  font-weight: bold;
  padding: 16px;
  border-radius: 8px;
}